<div class="app container">
  <div class ="inputBox container">
    <input-box>input box</input-box>
  </div>
  <div class="links container">
    <links links-array="appCtrl.links">links</links>
  </div>
</div>
