<!DOCTYPE html>

<html>
  <head>
    <title>---RCRDR---</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  </head>
  <body ng-app="musicApp">
    <app></app>
    <script src="controllers/app.js"></script>
    <script src="controllers/inputBox.js"></script>
    <script src="controllers/link.js"></script>
    <script src="controllers/links.js"></script>
    <script src="services/linksApi.js"></script>
  </body>
</html>
