<!DOCTYPE html>

<html>
  <head>
    <title>---RCRDR---</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  </head>
  <body ng-app="musicApp">
    <app></app>
    <script src="controllers/app.js"></script>
    <script src="controllers/inputBox.js"></script>
    <script src="controllers/links.js"></script>
    <script src="controllers/link.js"></script>
  </body>
</html>
