<div>
  <div class="container">
    <input type="text" placeholder="Add a url..."/>
    <button><span class="glyphicon glyphicon-plus">CLICK</span></button>
  </div>
  <div class="container">
    <button><span class="glyphicon glyphicon-headphones">SEARCH</span></button>
  </div>
</div>
