<li>
  <div>
    <h1>{{linkItemCtrl.link.title}}</h1>
    <ul class="link-item-details">
      <li>{{linkItemCtrl.link.artist}}</li>
      <!-- <li>Host</li> -->
      <li>{{linkItemCtrl.link.dateCreated}}</li>
    </ul>
    <h3><a href={{linkItemCtrl.link.url}}>Listen to me</a></h3>
  </div>
</li>
