<li>
  <div>
    <h1>Title</h1>
    <ul class="link-item-details">
      <li>Artist</li>
      <li>Host</li>
      <li>Date Added</li>
    </ul>
    <h3><a href={{linkItemCtrl.link.url}}>Listen to me</a></h3>
  </div>
</li>
